*{
    margin: 0;
    padding: 0;
     
}
body{
     min-height: 100vh; 
    background-image: url();
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.container-main{
     min-height: 100vh;
}


nav{
    background-color: rgba(0, 0, 0, 0.238);
    box-shadow: 4px 3px 4px;
    position: relative;
    color: white;
    
}

nav ul{
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end; 
    height: max-content;
    padding-bottom: 2em;
    margin: 0 5cqi ;
}

nav .logo{
    display: flex;
    justify-content: flex-start;
}


nav li{
    height: 50px;
    list-style: none;
    padding-top: 50px;
}

nav a{
    padding: 0 30px;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    align-items: center; 
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    text-transform: uppercase;
}

nav li a:hover, nav li a .active{
    /* background-color: rgba(108, 108, 213, 0.503); */
    color: #BFA100;
    transition: .2s ease-in;
    border-bottom: 3px solid #ffdd97;

}

nav li a.active::after,
nav li a:hover {
content: "";
width: 10%;
text-decoration: underline; 
     
}

.homeCover{
    background-image: url(/HostedImages/carpixel.net-2024-mansory-linea-doro-122227-hd.jpg);
    background-size: contain;
}


.logo{
    margin-right: auto;
    font-size: 30px;
    padding-left: 4px;
    text-align: start;

}

.logo img{
    margin: .5em 0;
    height: 1em;
}

.phoneNav{
    position: fixed;
    backdrop-filter: blur(20px);
    background-color: aqua;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;



}

.phoneNav li{
    width: 100%;
}

.phoneNav a{
    width: 100%;
    text-transform: uppercase;
    height: 50px;
}
.phoneNav a:hover{
    background-color: #757676;
    color: #BFA100;
    
}

.showNav{
    margin-right: -50px;
    display: none;
}

.contactIcon{
    display: none;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/HostedImages/yuvraj-singh-tmAynVA_ihE-unsplash.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}


.heading{
    background-color:#bfa20065;
    text-align: center;
    margin: 0 200px;
    margin-top: 80px;
    font-size: 4cqi;
}



.background1{
    
    width: 100%;
    height: 100%; 
}

.background2{
    display: none;
}

.background3{
    width: 100%;
    height: 100%;
}


.home-info{
    margin-top: 20cqi;
    color: white;
    font-size: 10cqi;
    text-align: center;
    box-sizing: content-box;

}

.footer-edit{
    display: grid;
}



footer{
    height: 250px;
    background-color: rgba(0, 0, 0, 0.818);
    margin: 0px 0;
    overflow-x: hidden;
    color: white;
}

.copyrights{
    padding: 20px;
    text-align: center;
}

/* footer p{
    margin-top: 20px;
    padding-left: 10px;
} */

/* footer div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* About page */
.homeCover1{
    background-image: url(/HostedImages/rolls-royce-7407201_1280.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}
.about{
    margin: 1em 0;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 12px 4px 20px black;
    /* -4px 4px 0px black, */
    /* -6px 6px 0px black; */
    /* -8px 8px 0px red,
    -9px 9px 0px red; */
}
.mission{
    margin: 10em auto;
    color: #070600de;
    text-align: center;
    align-items: center;
    background-image: url(/HostedImages/ferrari1.jpg);
    filter: grayscale(40%);
    width: 88cqi;
    height: 44cqi;
    background-size: cover;
    
}

.whoWeare{
    margin: 10em auto;
    color: #070600de;
    text-align: center;
    align-items: center;
    background-image: url(/HostedImages/ferrari2.jpg);
    filter: grayscale(40%);
    width: 88cqi;
    height: 44cqi;
    background-size: cover;

}

.offer{
    margin: 10em auto;
    color: #070600de;
    text-align: center;
    align-items: center;
    background-image: url(/HostedImages/carpixel.net-1987-ferrari-f40-70853-hd.jpg);
    filter: grayscale(60%); 
    filter: blur(80%);
    width: 88cqi;
    height: 44cqi;
    background-size: cover;
    font-weight: 600;
    }
    
    .choose{
    margin: 10em auto;
    color: #070600de;
     text-align: center;
    align-items: center;
    background-image: url(/HostedImages/ferrari4.jpg);   
    filter: grayscale(40%);
    backface-visibility: visible;
    width: 88cqi;
    height: 44cqi;
    background-size: cover;
}

.ferrari1, .ferrari2, .ferrari3, .ferrari4{
    display: none;
}

.other-ferrari{
    display: flex;
}

.f458-1{
    width: 70cqi;
    height: 40cqi;
    
    margin: 0 3cqi;

}

/* Product Page */
.product-background{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.banner1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(/HostedImages/carpixel.net-2024-mansory-linea-doro-122229-hd.jpg);
    width: 100cqi;
    height: 55vh;
    background-size: cover;
    background-position: center;
}

.banner1 h6{
    font-size: 5em;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    padding-top: 120px;
}

.product-heading{
    text-align: center;
    text-transform: uppercase;
    margin: 2cqi 0 ;
}
.searchBox{
    margin: 5cqi 5cqi;
    width: 20cqi;
    
}

.searchBox-items{
    padding-right: 7cqi;
    height: 10em;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

.searchBox-items h5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.searchBar{
    margin-right: 5%;
    padding: .5cqi;
    width: max-content;
}
.searchButton{
    margin-top: 1cqi;
}

.product-container{
    /* margin: 10cqi auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-image{
    width: 100%;
}

.product{
    border: 3px solid;
    width: 48cqi;
    height: 45cqi;
    margin: 1cqi 1cqi;
    color: rgb(13, 0, 0);
    background-color: #DCE0E1;
    box-shadow: 0px 0px 3px #757676;
    border-radius: 1%;
    border: rebeccapurple 4px;
    }  
    
    .product-grid-1{
        width: 48cqi;
        }
        
        
        
        .product-image{
    width: 47cqi;

}

.product-name{
    font-size: 2em;
    margin-bottom: .5em;
}
.product-cat{
    font-size: .9em;
    margin-bottom: 2em;
    }
    
    .product-price{
        font-weight: 300;
        margin-bottom: 2em;
        }
.product-buy{
    background-color: orangered;
    width: 60px;
    height: 35px;
    border-radius: 20%;
    text-transform: uppercase;
    
    padding: 2px;
}   
        
/* checkout table */
table{
    border-bottom: #757676 3px solid;
    margin: 0 auto;
    }
    
    th{
        margin: 4cqi;
        }
        
        .contents{
    padding: 0 clamp(2cqi, 2vw , 10cqi);
    }


    .total_rand .total-name{
    margin-left: 22cqi;
    margin-top: 5cqi;
    }

    
    
    /* Admin Page */
.admin-container{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: fit-content;
    margin: 20cqi auto;
}
.admin-title h3{
    text-align: center;
    margin-bottom: 5cqi;
    }
    
    .admin-input{
    display: flex;
    flex-direction: column;

}

.admin-input input{
    width: 20cqi;
    margin: 1cqi;
    align-items: center;
    /* padding-left: 15cqi; */
    }
    .admin-table table{
        width: 100%;
}
.admin-table table thead th{
    padding: 0 10px;
    }


    /* Contact Page */
        .banner2{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-image: url(/HostedImages/max-mugRWvFwOnU-unsplash.jpg);
            width: 100%;
            height: 20vh;
            background-size: cover;
            background-position: center;
        }
        .banner3{
            margin-top: 2cqi;
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: start;
            background-image: url(/HostedImages/marcel-strauss-Vs2mCnrmozA-unsplash.jpg);
            width: 100%;
            height: 20vh;
            background-size: cover;
            background-position: center;
        }
        .banner4{
            margin-top: 2cqi;
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: start;
            background-image: url(/HostedImages/alexandru-goman-2z-CjTFqgr4-unsplash.jpg);
            width: 100%;
            height: 20vh;
            background-size: cover;
            background-position: center;
        }

        .banner3 h3{
            text-transform: uppercase;
            color: white;
            margin-left: 0;
            
        }
        .banner4 h3{
            text-transform: uppercase;
            color: white;
            margin-left: 0;
            
        }
        .contact-block{
            text-align: start;
        }

        .contact-form{
            border: 2px red solid;
            margin: 20cqi auto;
            /* display: flex;
            flex-direction: column;
            width: 60%;
            height: 20cqi; */
            /* background-image: url(/HostedImages/lorenzo-gerosa-nvoxWnuc1QI-unsplash.jpg); */
        }
        /* .contact-form form{
            text-align: center;
            padding: 2em 2em ;
        } */
        form{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .input-group{
            margin-bottom: 30px ;
            position: relative;
        }
        input, textarea{
            width: 100%;
            padding: 10px;
            outline: 0;
            border: 1px solid violet;
            background: transparent;
            font-size: 15px;
        }

        label{
            height: 100%;
            position: absolute;
            left: 0;
            cursor: text;

        }
        /* .contact-form input{
            margin: 0 .5em;
            padding: .8cqi .5cqi;
        } */
    @media (max-width: 969px) {
        
    .desktopNav{
        display: none;
        }
        
        .showNav{
        display: block;
        margin-right: 30px;
        color: black;
    }

    .shopIcon{
        display: block;
        color: black;
        }
        
        .shopIcon, .contactIcon{
            display: block;
            color: red;
    }
    
    .product-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        }
        .product-grid-1{
        
        margin: 10cqi auto;
        width: 90cqi;
        height: 100cqi;
        overflow: hidden;
        }  
        
     .product{
        width: 100cqi;
        height: 80cqi;
        margin: .5em 0;
        overflow: hidden;
        } 

        .product-image{
        width: 90cqi;
        margin: 0em 0;
        

        .mission{
        margin: 10em auto;
        color: #070600de;
        text-align: center;
        align-items: center;

        }
        }
        }

@media (max-width:476px){
    /* Home page */
    

    .contactIcon{
        display: none;
        }
        
    .phoneNav{
        width: 100%;
    }

    ul{
        width: 100%;
    }

    .showNav{
        margin-right: -10px;
        color: black;
        
    }

    .heading{
        background-color: blue;
        text-align: center;
        margin: 10px 20px;
    }

    .homeCover{
        padding-top: 60px;
    }
    .background1{
        display: none;
    }

    .background2{
        display: block;
        height: 100%;
        width: 140%;
    }

    footer{
        margin: 0px 0;
        height: 70px;
    }
    
    /* Product Page */
    .searchBox{
        height: 10em;
        width: 10em;
    }
    .product-container .product-grid-1{
        display: flex;
        flex-direction: column;
        
    }
    .product-container .product-grid-2{
        display: flex;
        flex-direction: column;
        
    }
    .product-grid-1{
        
        margin: 8cqi auto;
        width: 80cqi;
        overflow: hidden;
        height: 100cqi;
        border: red 2px solid;
    }  

     .product{
        width: 100cqi;
        height: 120cqi;
        overflow: hidden;
    } 


    .product-image{
        width: 80cqi;
        overflow: hidden;
        margin: 0;
    }
    /* About Page */
    .about{
        text-align: center;
        margin-top: .5em;
    }

    .mission, .whoWeare, .offer, .choose{
        margin: 5em auto;
        color: #fdfdfade;
        text-align: center;
        align-items: center;
        background: transparent;
        height: 10em;
    }
    .whoWeare{
        height: 12em;
    }

    .offer{
        height: 22em;
        margin-bottom: .8em;
    }

    .choose{
        height: 15em;
        margin-bottom: .7em
        ;
    }
    .ferrari1, .ferrari2, .ferrari3, .ferrari4{
        display: initial;
        width: 100%;
        height: 100%;
        filter: grayscale(60%);
    }
    
    .ferrari4{
        margin-bottom: 2em;
        filter: grayscale(60%);

    }

    /* cart */
    .cart{
        color: #BFA100;
        position: fixed;
        top: 0;
        right: 0;
        width: 60cqi;
        height: 100vh;
        background-color: black;
        display: grid;
        grid-template-rows: 50px 1fr 50px;
        gap: 20px;
        transition: right 1s;
        display: none;
    
    }

}
