*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
    background-image: url();
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}


nav{
    background-color: rgba(193, 237, 148, 0.238);
    box-shadow: 4px 3px 4px;
   
}

nav ul{
    width: 100%;
    display: flex; 
     justify-content: flex-end;
    align-items: flex-end; 
}


nav li{
    height: 50px;
    list-style: none;
    padding-top: 30px;
}

nav a{
    padding: 0 30px;
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: rgba(108, 108, 213, 0.503);

}


.logo{
    margin-right: auto;
    font-size: 30px;
    padding-left: 10px;

}

.phoneNav{
    position: fixed;
    backdrop-filter: blur(20px);
    background-color: aqua;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;



}

.phoneNav li{
    width: 100%;
}

.phoneNav a{
    width: 100%;
}

.showNav{
    margin-right: -50px;
    display: none;
}

.shopIcon, .contactIcon{
    display: none;
}


.heading{
    background-color:#BFA100;
    text-align: center;
    margin: 0 200px;
    margin-top: 80px;
    font-size: 4cqi;
}



.background1{
    
    width: 100%;
    height: 100%; 
}

.background2{
    display: none;
}

.background3{
    width: 100%;
    height: 100%;
}



footer{
    height: 120px;
    background-color: blue;
    margin: 0px 0;
    
}

footer p{
    margin-top: 20px;
    padding-left: 10px;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* About page */
.homeCover1{
    background-image: url(/HostedImages/rolls-royce-7407201_1280.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}
.about{
    margin: 1em 0;
    text-align: center;
}
.mission{
    margin: 10em auto;
    color: #070600de;
    text-align: center;
    align-items: center;
    background-image: url(/HostedImages/ferrari1.jpg);
    filter: grayscale(40%);
    width: 88cqi;
    height: 44cqi;
    background-size: cover;
    
}

.whoWeare{
    margin: 10em auto;
    color: #070600de;
    text-align: center;
    align-items: center;
    background-image: url(/HostedImages/ferrari2.jpg);
    filter: grayscale(40%);
    width: 88cqi;
    height: 44cqi;
    background-size: cover;

}

.offer{
    margin: 10em auto;
    color: #070600de;
    text-align: center;
    align-items: center;
    background-image: url(/HostedImages/carpixel.net-1987-ferrari-f40-70853-hd.jpg);
    filter: grayscale(60%); 
    filter: blur(80%);
    width: 88cqi;
    height: 44cqi;
    background-size: cover;
    font-weight: 600;
    }
    
    .choose{
    margin: 10em auto;
    color: #070600de;
     text-align: center;
    align-items: center;
    background-image: url(/HostedImages/ferrari4.jpg);   
    filter: grayscale(40%);
    backface-visibility: visible;
    width: 88cqi;
    height: 44cqi;
    background-size: cover;
}

.ferrari1, .ferrari2, .ferrari3, .ferrari4{
    display: none;
}

.other-ferrari{
    display: flex;
}

.f458-1{
    width: 70cqi;
    height: 40cqi;
    
    margin: 0 3cqi;

}

/* Product Page */
.product-background{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
.searchBox{
    
    height: 10cqi;
    width: 40cqi;
    margin: 10cqi auto;
   
    background-color: aliceblue;
}

.searchBox-items{
    margin: 0 auto;
    height: 10em;
    overflow: hidden;
}

.product-container{
    /* margin: 10cqi auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

  .product{
    border: 3px solid;
    width: 50cqi;
    height: 40cqi;
    margin: 1cqi 1cqi;
    color: rgb(13, 0, 0);
    background-color: rgb(255, 255, 255);
}  

.product-grid-1{
    width: 48cqi;
}

.searchBox .searchBar{
    align-items: center;
}

.searchBar h4{
    text-align: center;
}

.product-image{
    width: 47cqi;

}

.product-name{
    font-size: 2em;
    margin-bottom: .5em;
}
.product-cat{
    font-size: .9em;
    margin-bottom: 2em;
}

.product-price{
    font-weight: 300;
    margin-bottom: 2em;
}







@media (max-width: 769px) {

    .desktopNav{
        display: none;
    }

    .showNav{
        display: block;
        margin-right: 30px;
        color: black;
    }

    .shopIcon{
        display: block;
        color: black;
    }

    .shopIcon, .contactIcon{
        display: block;
        color: red;
    }

    .product-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
      .product-grid-1{
        
        margin: 10cqi auto;
        width: 90cqi;
        height: 100cqi;
        overflow: hidden;
    }  

     .product{
        width: 100cqi;
        height: 80cqi;
        margin: .5em 0;
        overflow: hidden;
    } 

    .product-image{
        width: 90cqi;
        margin: 0em 0;
        

    .mission{
        margin: 10em auto;
        color: #070600de;
        text-align: center;
        align-items: center;

    }
}

@media (max-width:476px){
    /* Home page */
    .shopIcon{
        display: none;
    }

    .shopIcon, .contactIcon , .searchIcon{
        display: none;
    }

    .phoneNav{
        width: 100%;
    }

    ul{
        width: 100%;
    }

    .showNav{
        margin-right: -10px;
        color: black;
        
    }

    .heading{
        background-color: blue;
        text-align: center;
        margin: 10px 20px;
    }

    .homeCover{
        padding-top: 60px;
    }
    .background1{
        display: none;
    }

    .background2{
        display: block;
        height: 100%;
        width: 140%;
    }

    footer{
        margin: 0px 0;
        height: 70px;
    }
    
    /* Product Page */
    .searchBox{
        height: 10em;
        width: 10em;
    }
    .product-container .product-grid-1{
        display: flex;
        flex-direction: column;
        
    }
    .product-container .product-grid-2{
        display: flex;
        flex-direction: column;
        
    }
    .product-grid-1{
        
        margin: 8cqi auto;
        width: 80cqi;
        overflow: hidden;
        height: 100cqi;
        border: red 2px solid;
    }  

     .product{
        width: 100cqi;
        height: 120cqi;
        overflow: hidden;
    } 


    .product-image{
        width: 80cqi;
        overflow: hidden;
        margin: 0;
=======
    /* About Page */
    .about{
        text-align: center;
        margin-top: .5em;
    }

    .mission, .whoWeare, .offer, .choose{
        margin: 5em auto;
        color: #fdfdfade;
        text-align: center;
        align-items: center;
        background: transparent;
        height: 10em;
    }
    .whoWeare{
        height: 12em;
    }

    .offer{
        height: 22em;
        margin-bottom: .8em;
    }

    .choose{
        height: 15em;
        margin-bottom: .7em
        ;
    }
    .ferrari1, .ferrari2, .ferrari3, .ferrari4{
        display: initial;
        width: 100%;
        height: 100%;
        filter: grayscale(60%);
    }
    
    .ferrari4{
        margin-bottom: 2em;
        filter: grayscale(60%);

    }

}
